
# Build results
node_modules/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
node_modules
node_modules/.bin/commitlint.ps1
node_modules/.bin/conventional-commits-parser.ps1
node_modules/.bin/ejs.ps1
node_modules/.bin/git-raw-commits.ps1
node_modules/.bin/jake.ps1
node_modules/.bin/JSONStream.ps1
node_modules/.bin/mime.ps1
node_modules/.bin/resolve.ps1
node_modules/.bin/semver.ps1
node_modules/normalize-package-data/node_modules/.bin/semver.ps1
node_modules/read-pkg/node_modules/.bin/semver.ps1
