<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/meta.ejs') %>
  </head>
  <body class="vh-100 d-flex flex-column">
    <header>
      <%- include('../components/navbar.ejs') %>
    </header>
    <main class="d-flex flex-grow-1 align-items-center justify-content-center bg-body-secondary">
        <h1 class="text-success">Sorry, under construction!</h1>
    </main>
    <footer></footer>
  </body>
</html>
