<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/meta.ejs') %>
  </head>
  <body class="vh-100 d-flex flex-column">
    <header>
      <%- include('../components/navbar.ejs', {loggedIn, firstName}) %>
    </header>

    <main class="d-flex flex-grow-1 bg-body-secondary overflow-hidden">
      <%- include('../components/sidebar.ejs', {firstName}) %>
      <div class="container mt-5 content overflow-y-auto overflow-x-hidden">
        <%- include('../components/actionbar.ejs', {firstName, context: 'user', page: 'home'}) %>
        <h3>Home</h3>
        <hr>
    </main>

  </body>
</html>
