<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/meta.ejs') %>
  </head>
  <body class="vh-100 d-flex flex-column">
    <header>
      <%- include('../components/navbar.ejs') %>
    </header>
    <main class="d-flex flex-grow-1 align-items-center justify-content-center bg-body-secondary">
      <form action="" method="post" class="card p-5" style="max-width: 25rem;">
        <p class="text-center mb-5 ">Login</p>
        <% if (signup) {%>
          <div class="d-flex justify-content-center gap-1">
            <i class="bi bi-check-circle-fill text-success"></i>
            <p class="text-success">Account created</p>
          </div>
        <% } %>
        <% if (locals.fail) {%>
          <div class="d-flex justify-content-center gap-1">
            <i class="bi bi-x-circle-fill text-danger"></i>
            <p class="text-danger">Wrong email or password</p>
          </div>
        <% } %>
        <div class="mb-2">
          <input type="email" name="email" id="email" placeholder="Email" class="form-control" autocomplete="email" required>
        </div>
        <div>
          <input type="password" name="password" id="password" placeholder="Password" class="form-control" required>
        </div>
        <a href="../forgotPassword" class="link-secondary fw-light text-decoration-none link-small text-end mb-5">Forgot your password?</a>
        <button type="submit" class="btn btn-dark mb-5">Log In</button>
        <a href="../signup" class="link-secondary fw-light text-decoration-none link-small text-center">Don't have an account? Sign up.</a>
      </form>
    </main>
    <footer></footer>
  </body>
</html>
