<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/meta.ejs') %>
  </head>
  <body class="vh-100 d-flex flex-column">
    <header><%- include('../components/navbar.ejs', {loggedIn: loggedIn, firstName: firstName}) %></header>
    <main class="d-flex flex-grow-1 bg-body-secondary">
      <%- include('../components/sidebar.ejs') %>
      <!--Contains the clickable buttons at the top, will need to turn into a script to add quick actions that the user can set up-->
      <div class="container mt-3">
        <div class="btn-group">
          <button type="button" class="btn btn-dark" href="#projects">
            Home
          </button>
          <button type="button" class="btn btn-dark" href="#projects">
            Projects
          </button>
          <button type="button" class="btn btn-dark" href="#projects">
            Schedule
          </button>
          <!--This button will be the quick action addition-->
          <button type="button" class="btn btn-dark" href="#projects">+</button>
        </div>

        <!--Card content-->
        <div class="=tab-content">
          <div id="homepage" class="container tab-pane active">
            <br />
            <h3>Recent Projects</h3>
            <p>Insert Cards here for the projects</p>
            <!--This is a card-->
            <div class="container mt-3">
              <div class="card" style="width: 300px">
                <img
                  class="card-img-top"
                  src="../images/stock.jpg"
                  alt="Card image"
                  style="width: 100%"
                />
                <div class="card-body d-flex flex-column">
                  <a href="#" class="btn btn-dark"
                    >Senior Capstone Group Project</a
                  ><br />
                  <a href="#" class="btn btn-basic">ICS-499 Group</a>
                </div>
              </div>
            </div>
            <hr>
            <!--This is a card-->
            <div class="container mt-3">
                <div class="card" style="width: 300px">
                  <img
                    class="card-img-top"
                    src="../images/stock.jpg"
                    alt="Card image"
                    style="width: 100%"
                  />
                  <div class="card-body d-flex flex-column">
                    <a href="#" class="btn btn-dark"
                      >Senior Capstone Group Project</a
                    ><br />
                    <a href="#" class="btn btn-basic">ICS-499 Group</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>