<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="../js/schedule.js" defer></script>

           <%- include('../components/meta.ejs') %>

 
     <style>
    table {
      border-collapse: collapse;
     width: 100%;
    
    }
    
    th, td {
      text-align: center;
      padding: 5px;
      border: 1px solid black;
       
    }

    th {
      background-color: #f2f2f2;
      
     
    }
    td{
     height: 100px;
     width: 1000000px;
    }

    .rounded p-2 my-2 {
  background-color: #ffc107;
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.rounded p-2 my-2:hover{
  transform: scale(1.2);
}

    .add-icon {
      font-size: 24px;
      color: #007bff;
      cursor: pointer;
    }

    .add-icon:hover {
      color: #0056b3;
    }

   


  </style>
  

 </head>
  <body onload="displaySchedule()">
    <header>

      <!-- //this is side bar -->
      
      <%- include('../components/navbar.ejs', {loggedIn: loggedIn, firstName:firstName}) %>

      

          
   
    <!-- //header for page -->
        
       
        
  
      </header>

      <h1 class="text-center"> Schedule of your tasks</h1></button>

      <main class="d-flex flex-grow-1 bg-body-secondary overflow-hidden" >


        <!-- //sidebar -->
        <%- include('../components/sidebar.ejs') %>
        

       



        <!-- //schedule table -->

          <div id="schedule"></div>
       

      </main>

     
      
     
     
      
      
      
   
   
  
  
  
    </body>
</html>