<div class="btn-group">
  <a class="btn btn-dark" href="../home">Home</a>
  <a class="btn btn-dark" href="../team">Team</a>
  <a class="btn btn-dark" href="">Projects</a>
  <a class="btn btn-dark" href="../schedule">Schedule</a>
  <!--This button will be the quick action addition-->
  <button type="button" class="btn btn-dark" href="">+</button>
</div>
