<div class="btn-group mb-4">
  <a class="btn btn-dark <% if (locals.team) {%> text-leaf-green <%}%>" href="../<%-firstName %>/home">Home</a>
  <a class="btn btn-dark <% if (locals.projects) {%> text-leaf-green <%}%>" href="../<%-firstName %>/projects">Projects</a>
  <a class="btn btn-dark <% if (locals.schedule) {%> text-leaf-green <%}%>" href="../schedule">Schedule</a>
  <!-- <button type="button" class="btn btn-dark" href="">+</button> -->
</div>
