<div class="btn-group">
  <a class="btn btn-dark <% if (locals.team) {%> text-leaf-green <%}%>" href="../team">Team</a>
  <a class="btn btn-dark <% if (locals.projects) {%> text-leaf-green <%}%>" href="../project">Projects</a>
  <a class="btn btn-dark <% if (locals.schedule) {%> text-leaf-green <%}%>" href="../schedule">Schedule</a>
  <!-- <button type="button" class="btn btn-dark" href="">+</button> -->
</div>
