<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <div class="dropdown">
            <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">Home</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Tasks</a></li>
                <li><a class="dropdown-item" href="#">Reminders</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">Teams</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Tasks</a></li>
                <li><a class="dropdown-item" href="#">Reminders</a></li>
            </ul>
        </div>
        <button type="button" class="btn btn-dark">Inbox</button>

        <div class="dropdown dropend">
            <button type="button" class="btn btn-dark" data-bs-toggle="dropdown">Settings</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Account</a></li>
                <li><a class="dropdown-item" href="#">About Us</a></li>
            </ul>
        </div>


      </div>
    </div>
  </nav>
