<div class="card mb-4" style="width: 90%">
  <div class="card-body">
    <div class="d-flex">
      <h3>Header</h3>
      <p class="ms-auto link-secondary">1/1/2023</p>
    </div>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi
      repellendus explicabo, blanditiis ipsa et aliquam magni eos veniam
      eligendi sunt temporibus ratione, laudantium impedit voluptatibus
      doloremque sequi exercitationem officiis quibusdam numquam ullam quos a
      similique. Esse, consequatur beatae? Expedita, quidem!
    </p>
  </div>
</div>
