<div class="task">
  <details class="card">
    <summary class="p-2"><%- task.name %></summary>
    <div class="card-body p-2">
        <div class="d-flex gap-4">
            <div>
                <i class="bi bi-pencil-square"></i>
                3 subtasks
            </div>
            <div>
                <i class="bi bi-calendar"></i>
                Due: <%- task.due_date %>
            </div>
        </div>
    </div>
  </details>
</div>