<div class="card mb-4" style="width: 90%">
  <div class="card-body">
    <div class="d-flex">
      <h3><%- update.header %></h3>
      <p class="ms-auto link-secondary">
        <%- update.created_at %>
      </p>
    </div>
    <p><%- update.content %></p>
  </div>
</div>
