<nav class="navbar navbar-expand-md">
  <a href="index.html" class="navbar-brand">
    <div class="d-flex align-items-center gap-1">
      <img src="../images/leaf_icon.png" alt="Leaf Logo" class="logo-small" />
      Digital Leaf
    </div>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#toggleNavMenu"
    aria-controls="toggleNavMenu"
    aria-expanded="false"
    aria-label="toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-center" id="toggleNavMenu">
    <ul class="navbar-nav ms-auto d-flex align-items-center">
      <li>
        <a href="login.html" class="nav-link"
          ><button class="btn btn-dark">Log In</button></a
        >
      </li>
    </ul>
  </div>
</nav>
