:root {
  --leaf-green: hsl(120, 100%, 36%);
}

body {
  font-family: sans-serif;
}

.content {
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

// Projects

.task {
  details {
    summary {
      list-style: none;
      &:hover {
        background-color: hsla(120, 100%, 36%, 0.1);
      }
    }
    summary::-webkit-details-marker {
      display: none;
    }
  }
  details[open] {
    margin-bottom: 1rem;
    summary {
      border-radius: 0;
      background-color: hsla(120, 100%, 36%, 0.1);
      &:hover {
        box-shadow: none;
      }
    }
  }
}

.logo-small {
  width: 24px;
}

.link-small {
  font-size: 12px;
}

// Typography

.text-leaf-green {
  color: var(--leaf-green);
}
